/* how to add comments: 'command + /' */

body{
  background-color: #16213E;
  color: white;
  margin: 0;
  font-family: optima;
  font-size: 20px;
  line-height: 30px;
}

/********** header styles **********/

header{
  background-color: #2E4972;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

header h1{
  color: white;
  text-align: center;
}

nav a {
  font-style: italic;
  margin: 15px;
}

img {
  width: 200px;
  border: 2px solid lightgray;
  border-radius: 100%;
}

/********** main styles **********/

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 15px;
}

hr {
  border-style: dotted none none;
  border-width: 3px;
  color: white;
  width: 30%;
}

h2 {
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: center;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

main img{
  max-width: 100%;
}

h3 {
  margin-top: 10;
  margin-bottom: 10px;
}

a{
  color: white;
}
a:hover{
  color: lightgray;
}


/********** table styles **********/

table {

}


/********** footer styles **********/

footer{
  background-color: #2E4972;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 15px;
}

footer p {
  font-style: italic;
}

footer a{
  color: lightgray;
}
footer a:hover{
  color: lightblue;
}

.box {
  background: #2E4972;
  padding: 20px 20px;
  margin: 80px;
}

.box nav {
  text-align: center;
}
